.daracl-multiselect {
  --border-color: #dfe1e5;
  --body-bg: #ffffff;
  --body-color: #686868;
  --body-hover-color: #edeeef;
  --body-hover-bg: #d1e4f5;
  --body-active-color: #fff;
  --body-active-bg: #337ab7;
  --body-disabled-color: #777;
  --btn-bg: transparent;
  --btn-color: #000000;
  --btn-bg-hover: #dee2e6;
  --input-bg: transparent;
  --input-color: #212529;
  --input-disabled-bg: #ebebeb;
  --item-selected-bg: rgba(85, 241, 241, 0.295);
  --item-selected-color: #212529;
  --add-item-color: #5970f5;
}
