body.dark .daracl-multiselect,
.daracl-multiselect.dark {
  --border-color: #41444c;
  --body-bg: #1d212a;
  --body-color: #b0b2b5;
  --body-hover-color: #3a3d41;
  --body-hover-bg: #7b7d83;
  --body-active-color: #3a3d41;
  --body-active-bg: #337ab7;
  --body-disabled-color: #777;
  --btn-bg: transparent;
  --btn-color: #d4dde6;
  --btn-bg-hover: #3950a2;
  --input-bg: transparent;
  --input-color: #c6cddb;
  --input-disabled-bg: #878787;
  --item-selected-bg: #5774dd;
  --item-selected-color: #fdfdfd;
  --add-item-color: #68e4f9;
}
