/*
.tsd-navigation.settings>.tsd-index-accordion .tsd-accordion-summary>svg {
    position: initial;
    right: 0px;
    margin: unset;
}

.tsd-navigation a {
    display: inline-flex;
}
*/

.tsd-generator {
    display: none;
}